@{
    ViewBag.Title = "Result";
}


<div style="text-align: center;">
    <table>
        <tr>
            <th>Provider</th>
            <th>name</th>
            <th>location</th>
            <th>internet</th>
            <th>speed</th>
            <th>telephone</th>
            <th>price</th>
            <th>Price after 1 Year</th>
            <th>minimumTime</th>
            <th>addition</th>
        </tr>
        <tr>
            <td>@ViewBag.provider</td>
            <td>@ViewBag.name</td>
            <td>@ViewBag.location</td>
            <td>@ViewBag.internet</td>
            <td>@ViewBag.speed</td>
            <td>@ViewBag.telephone</td>
            <td>@ViewBag.price</td>
            <td>@ViewBag.price20</td>
            <td>@ViewBag.minimumTime</td>
            <td>@ViewBag.addition</td>
        </tr>
        <tr>
            <td>@ViewBag.provider1</td>
            <td>@ViewBag.name1</td>
            <td>@ViewBag.location1</td>
            <td>@ViewBag.internet1</td>
            <td>@ViewBag.speed1</td>
            <td>@ViewBag.telephone1</td>
            <td>@ViewBag.price1</td>
            <td>@ViewBag.price21</td>
            <td>@ViewBag.minimumTime1</td>
            <td>@ViewBag.addition1</td>
        </tr>
        <tr>
            <td>@ViewBag.provider2</td>
            <td>@ViewBag.name2</td>
            <td>@ViewBag.location2</td>
            <td>@ViewBag.internet2</td>
            <td>@ViewBag.speed2</td>
            <td>@ViewBag.telephone2</td>
            <td>@ViewBag.price2</td>
            <td>@ViewBag.price22</td>
            <td>@ViewBag.minimumTime2</td>
            <td>@ViewBag.addition2</td>
        </tr>
    </table>
</div>